@charset "utf-8";

/* common */

body {
  font-size: 14px;
  font-family: Verdana, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
}

.btn {
  display: inline-block;
  width: 290px;
  line-height: 45px;
  background: #fff;
  text-align: center;
  color: #f39800;
  border-radius: 5px;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

img.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);/*shadow ぼかし具合 rgba影の色*/
}

section {
  padding: 90px 0;
}

section:nth-child(odd){ /*奇数部分を選択している*/
  background: #f8f8f8;
}

section .container{
  width: 900px;
  margin: 0 auto;
}

section h2 {
  font-size: 40px;
  text-align: center;
  margin: 0 0 90px;
  font-weight: normal; /* フォントの太さを指定*/
}

section:not(.call-to-action)
 h2:after{
 /*content: '- title -' */

}

/* header */

header {
  background: url('../img/givebig.jpg');
  background-size: cover;
}

header .container {
  width: 820px;
  margin: 0 auto;
  height: 1000px;
  padding-top: 10px;
  position: relative;
  overflow: hidden;
}

header h1, header p {
  color: #fff;
}

header p {
  padding-top: 50px;
}

header h1 {
  font-size: 34px;
  margin-bottom: 50px;
}

header img {
  position: absolute;
  left: 400px;
  bottom: 450px;
}

/* features */

.features h2:after{
  content: ' Features';
  display: block;
  font-size: 20px;
  color: #aaa;
  padding-top: 10px;
}


.desc{
  width: 380px;
}

.pull-right {
  float: right;
  padding-left: 100px;
}

.pull-left {
  float: left;
  padding-right: 100px;
}


.row{
  overflow: hidden;/*はみ出た部分の表示の仕方*/
  margin-bottom: 90px;
}

.row:last-child{/*最期の子要素に対して装飾を適用させる*/
  margin-bottom: 0;
}

.features h3{
  font-size: 24px;
}

/* voices */

.voices h2:after{
  content: '- Staff -';
  display: block;
  font-size: 18px;
  color: #aaa;
  padding-top: 10px;
}

.user img{
  border-radius: 50%;
  border: 10px solid #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -60px;
}

.space{
  height: 100px;
}

.user{
  background: #fff;
  border-color: orange;
  border-width: 4px;
  border-style: solid;
  width: 250px;
  box-sizing: border-box;/*ボックスのサイズの算出方法を指定*/
  /*border-boxでpadding と border の幅を要素の幅と高さに含める.*/
  padding: 65px 40px 60px;
  position: relative;
}


.user h3 {
  text-align: center;
}

.voices .container{
  display: flex;
  justify-content: space-between;
}


.voice h2{
  margin-bottom: 150px;
}

/* call-to-action */

.call-to-action{
  background: url('../img/footer.jpg');
  background-size: cover;
  text-align: center;
}


.call-to-action h2{
  color: #fff;
  margin-bottom: 50px;
}

/* footer */

footer{
  padding: 90px 0;
  text-align: center;
  color: #ccc;
}